.food-timer-content{
    background: #0000ff4a;
    padding: 25px;
    border-radius: 20px;
    .name-food{
        font-family: monospace;
        font-size: 30px;
    }

    .time-food{
        font-size: 20px;
        font-family: cursive;
    }
}